section.activity
    .container
        h2.section-title Discover holiday activity ideas
        .activity__items
            div(class="activity__item grid-item1")
                h4.activity__title Sports and Activis
            div(class="activity__item grid-item2")
                h4.activity__title Wellness and Health
            div(class="activity__item grid-item3")
                h4.activity__title Extreme Sports and Expeditions
            div(class="activity__item grid-item4")
                h4.activity__title Games
            div(class="activity__item grid-item5")
                h4.activity__title Culture and Education
            div(class="activity__item grid-item6")
                h4.activity__title Enjomet and Relaxation
            div(class="activity__item grid-item7")
                h4.activity__title Trevelling