block footer
    footer.footer
        .container
            .footer__inner
                div
                    span.footer__logo DREAMSHARE
                .footer__company
                    span.footer__title Company
                    ul.footer__ul
                        li.footer__list About
                        li.footer__list Contact
                        li.footer__list Press
                        li.footer__list Blog
                        li.footer__list Terms and Privacy
                        li.footer__list Help
                .footer__partners
                    span.footer__title Partners
                    ul
                        li
                .footer__designed
                    img(src="./images/footer.png" alt="")