header.header
    .container
        .header__inner
            .header__logo
                span DREAMSHARE
            nav.header__login
                a(class="header__btn btn" href="#") Log in
                a(class="header__btn btn header__btn_border" href="#") Sign up