block intro
    section.intro
        .container
            .intro__inner
                .intro__logo
                    span DREAMSHARE
                h1.intro__title SHARE YOUR <br> HOLIDAY DREAM
                h3.intro__subtitle And find the perfect partner to fullfill it
                a(class="intro__btn btn" href="#") Find your holiday partner