section.partner
    .container
        .partner__inner
            h2.section-title Meet a partner for your best holiday
            .partner__items
                .partner__item
                    img(src="./images/partners/1.jpg" alt="#").partner__photo
                    .partner__name Bradley Hunter
                    .partner__about Based in Chicago. I love playing tennis and loud music.
                .partner__item
                    img(src="./images/partners/2.jpg" alt="#").partner__photo
                    .partner__name Marie Bennett
                    .partner__about Currently living in Colorado. Lover of art, languages and travelling.
                .partner__item
                    img(src="./images/partners/3.jpg" alt="#").partner__photo
                    .partner__name Diana Wells
                    .partner__about Living in Athens, Greece. I love black and white classics, chillout music and green tea.
                .partner__item
                    img(src="./images/partners/4.jpg" alt="#").partner__photo
                    .partner__name Christopher Pierce
                    .partner__about Star Wars fanatic. I have a persistent enthusiasm to create new things.
            a(class="partner__btn btn" href="#") See other partners