section.search
    h2.section-title Create your holiday activity
    span.search__question Hi! What are your holiday interests?
    form.search__form
        input(class="search__input" type="text" placeholder="Enter your insterests")
        input(class="search__btn btn" type="submit" value="Search partners")