section.works
    .container
        h2.section-title How Dreamshare works?
        .works__items
            .works__item
                span.works__step STEP 1
                .works__title Sed leo enim, condimentum
                .works__text Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
            .works__item
                span.works__step STEP 2
                .works__title Morbi velit risus
                .works__text Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
            .works__item
                span.works__step STEP 3
                .works__title Sed leo enim, condimentum
                .works__text Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.