.container {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 748px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        max-width: 300px;
    }
}