.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;

    padding: 40px 0;

    color: $white;
}

.header__logo {
    font-size: 20px;
    font-weight: 700;
}

.header__btn_border {
    border: 2px solid $white;
}

@media screen and (max-width: 768px) {
    .header__inner {
        padding: 40px 38px;
    }
}

@media screen and (max-width: 320px) {
    .header__inner {
        justify-content: center;
    }

    .header__logo {
        display: none;
    }
}