.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.search__question {
    font-family: $roboto;
    font-size: 18px;
    line-height: 14px;
    margin-bottom: 25px;
}

.search__form {
    height: 40px;
}

.search__input {
    width: 300px;
    height: 100%;
    font: inherit;
    border: 1px solid #D4D4D4;
    border-radius: 3px;
    padding: 12px 15px;
}

.search__input::placeholder {
    font-family: $roboto;
    font-weight: 200;
    color: $gray;
}

.search__btn {
    height: 100%;
    background-color: $red;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 12px 27px;
    margin-left: 8px;
}

@media screen and (max-width: 320px) {
    .search {
        margin-bottom: 40px;
    }

    .search__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .search__question {
        margin-bottom: 40px;
    }

    .search__input {
        width: 280px;
        height: 40px
    }

    .search__btn {
        width: 280px;
        height: 40px;
        margin-top: 10px;
        margin-left: 0px;
    }
}