.section-title {
    font-size: 26px;
    font-weight: 700;
    color: #444444;
    text-align: center;

    margin-bottom: 35px;
}

.section-title:last-child {
    margin-bottom: 43px;
}

@media screen and (max-width: 320px) {
    .section-title {
        font-size: 22px;
        margin-bottom: 15px;
        padding: 0 2px;
    }
}